h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 250px;
    margin-left: 45vw;
    margin-top: 10vh;
}

.image {
   
    z-index: -1;
    margin-top: 9vh;
    margin-left: -16vw;
}